{
  "env": {
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb-base",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "global-require": 0,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "linebreak-style": [ 2, "unix" ],
    "no-console": 0, // this is a cli-app
    "no-multiple-empty-lines": [2, { "max": 2, "maxBOF": 2, "maxEOF": 2 }],
    "quotes": [ 2, "single" ],
    "semi": [ 2, "always" ]
  }
}
