language: node_js
node_js:
- '0.11'
- '0.10'
before_script:
- npm install -g mocha grunt-cli
notifications:
  email:
  - kimmobrunfeldt+git-hours@gmail.com
deploy:
  provider: npm
  email: kimmo.brunfeldt@gmail.com
  api_key:
    secure: BaR508fKqIBXHYXbAwpFyBJwAzYEQ+LwoMWbuBcc9YeEoiPbsFYG2kky1lUMBzHDHMHlqMelaFdStmSXDcu4nVV4QXQdE/jxUuJiaAgiIPoA+ULlfd2JfHM0QJVgda6Px5rtInD6ZZLjv32GDg0I4T6W87RVVriEeG/ZsWHrylI=
  on:
    tags: true
    node: '0.11'
